<br>
<br>
<div class="text-right">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Agregar
          </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Agregar imagen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form class="form-inline">
                    <input type="text"
                    name="Imagen"
                    class="form-control mb-2 mr-sm-2 mb-sm-0"
                    placeholder="Imagen">
                    <input type="text" [(ngModel)]="NuevaImagen.Nombre" name="artista" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Nombre de la imagen">
                    <input type="text" [(ngModel)]="NuevaImagen.Ruta" name="album" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Imagen">
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
            </div>
          </div>
        </div>
      </div>
    <br>
    <br>​
<picture>
    <div *ngFor="let imagen of Imagenes">
        <img src={{imagen.Ruta}} class="img-thumbnail Estilo" />
        <h5>{{imagen.NombreImagen}}</h5>
    </div>
</picture>
